body {
    background-image: url("../assets/images/lightBlueBg2.jpg");
    background-size: 100%;
}

.row {
    margin-right: -30px;
    margin-left: -30px;
}

.item img {
    width: 100%;
    background-position: center center;
    opacity: 0.6;
}

.carousel-bg-img {
    height: 75vh !important;
}

.pfPiece {
    max-width: 200px;
}

#about {
    color: #d5ffef;
}

#cssMe {
    height: 5%;
    width: 15%;
    opacity: 0.9;
    border-radius: 90%;
    border: none;
}

#footer {
    height: 50px;
    background-color: rgba(139, 255, 255, 0.4);
    border-top: 5px solid black;
    text-align: center;
    padding-top: 10px;
}

.webLinks {
    text-decoration: none;
    background-color: rgba(139, 255, 255, 0.4);
    border-bottom: 5px solid black;
    min-height: 75px;
    max-height: 100px;
    padding-top: 2%;
    padding-right: 3.5%;
}

.webLinks ul {
    list-style-type: none;
}

.webLinks li {
    display: inline;
}

.webLinkIcon {
    width: 30%;
}

.grayBg {
    background-color: rgba(191, 191, 191, 0.1);
}

/* The animation code */
@keyframes spin {
    from {
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Safari */
        transform: rotate(0deg);
    }
    to {    
        -ms-transform: rotate(360deg); /* IE 9 */
        -webkit-transform: rotate(360deg); /* Safari */
        transform: rotate(360deg);
    }
}

/* The element to apply the animation to */
#cssMe:hover {
    animation-name: spin;
    animation-duration: 0.7s;
}


/* MEDIA QUERIES */
/* IMPORTANT - ADJUST THESE TO TARGET SPECIFIC CAROUSEL SLIDES AS NEEDED */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .carousel-caption {
        font-size: 10px;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .carousel-caption {
        font-size: 10px;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .carousel-caption {
        font-size: 10px;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .carousel-caption {
        font-size: 20px;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .carousel-caption {
        font-size: 20px;
    }
}



/* CLEARFIX */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
